body {
background-color: blue;
align-content:center;
}
h1 {
text-align: center;
color: white;
font-weight: bold;
}
body{
   font-family: Calibri;
   color: white;
   font-weight: bold;
}
form{
    text-align: center;
}

/* 
    Created on : Sep 28, 2017, 7:54:07 PM
    Author     : ninani
*/

